<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
    <script src="https://cdn.jsdelivr.net/npm/liquidjs/dist/liquid.browser.umd.js"></script>
  </head>
  <body>
    {%liquid
 assign var1 = 12
 assign var2 = 12
 assign var3 = var1 | plus: var2
%}
    <h1>{{ var3 }}</h1>

  </body>
</html>